<a href="https://colab.research.google.com/github/yagosf01/estrutura-de-repeticao-python/blob/main/Yago_FIgueredo_231_Est_Repeticao_n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

+#ESTRUTURA DE REPETIÇÃO
##Todos estes algoritmos/programas podem ser implementados com o comando **while** ou **for**. Para estudar, implemente cada exercício com as **duas** estruturas de repetição.

###1. Faça um algoritmo  que mostre 10 vezes a frase “Bem vindo a Fatec!”. Pode implementar com o comando while ou for.

In [ ]:
print('Exemplo do while.............\n\n')
# 1º passo - inicialização
contador = 1
# 2º passo - condição/critério de parada
while contador <= 5:
    print(contador, 'Bem vindo a Fatec!')
    contador = contador + 1 # 3º passo - incremento

In [ ]:
print('\n\nExemplo do for.............\n')
# 1º passo - inicialização, 2º passo - condição/critério de parada
# e 3º passo - incremento, numa única linha no for
for contador in range(1,5):
    print(contador,'Bem vindo a Fatec!')

###2. Faça um algoritmo que mostre o cumprimento ‘Olá ‘ para o nome de alguém (4 pessoas). Exemplo ‘Olá Mariana’. Pode implementar com o comando while ou for.

In [ ]:
qtd_pessoas = 0
while qtd_pessoas < 4:
    nome = input('Insira o nome: ')
    print('Ola',nome)
    qtd_pessoas += 1 

print('\n')

for pessoas in range (0,4):
    nomefor = input('Insira o nome: ')
    print('Ola',nomefor)
    pessoas += 1

Insira o nome: laura
Ola laura
Insira o nome: yago
Ola yago
Insira o nome: clara
Ola clara
Insira o nome: matheo
Ola matheo


Insira o nome: vini
Ola vini
Insira o nome: breno
Ola breno
Insira o nome: isabelle
Ola isabelle
Insira o nome: joao
Ola joao

###3. Faça um algoritmo que mostre os valores de 0 a 15. Pode implementar com o comando while ou for.

In [ ]:
for i in range (0,16):
    print(i)

print('\n')

cont = 0

while cont < 16:
    print(cont)
    cont += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15


0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

###4. Faça um algoritmo que mostre os valores de 3 a 20. Pode implementar com o comando while ou for.

In [ ]:
for i in range (3,21):
    print(i)

print('\n')

cont = 3

while cont < 21:
    print(cont)
    cont += 1

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20


3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

###5. Faça um algoritmo que calcule e mostre a tabuada do 5. Pode implementar com o comando while ou for.

In [ ]:
for i in range (5,6):
    for y in range (0,11):
        print(i, 'x', y , '=',i * y)

print('\n')

n1 = 5
n2 = 0

while n2 < 11:
    print(n1, 'x' ,n2, '=' ,n1 * n2)
    n2 += 1

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

###6. Faça um algoritmo que receba a idade de 10 pessoas, calcule e exiba a quantidade de pessoas maiores de idade, sendo que a maioridade é obtida após completar 18 anos. Pode implementar com o comando while ou for.

In [ ]:
maiores = 0
menores = 0
pessoas = 1

for i in range (0,4):
    idade = int(input('Insira a sua idade: '))
    if idade < 18:
        menores += 1
    else:
        maiores += 1
    pessoas += 1

print('Quantidade de pessoas maiores de idade: ',maiores)
print('Quantidade de pessoas maiores de idade: ',menores)

print('\n')

maior = 0
menor = 0
i = 1

while i <= 4:
    idadewhile = int(input('Insira a sua idade: '))
    if idadewhile < 18:
        menor += 1
    elif idadewhile >= 18:
        maior += 1
    p += 1

print('Quantidade de pessoas maiores de idade: ',maior)
print('Quantidade de pessoas maiores de idade: ',menor)

Insira a sua idade: 19
Insira a sua idade: 17
Insira a sua idade: 15
Insira a sua idade: 18
Quantidade de pessoas maiores de idade:  2
Quantidade de pessoas maiores de idade:  2


Insira a sua idade: 22
Insira a sua idade: 26
Insira a sua idade: 19
Insira a sua idade: 7
Quantidade de pessoas maiores de idade:  3
Quantidade de pessoas maiores de idade:  1

###7. Escreva um algoritmo que receba 23 números, calcule e exiba a quantidade de números pares e impares. Pode implementar com o comando while ou for.

In [ ]:
pares = 0
impares = 0

for i in range (0,5):
    numero = int(input('Insira o número: '))
    if numero % 2 == 0:
        pares += 1
    else:
        impares += 1
print('Quantidade de número pares: ',pares)
print('Quantidade de número imapares: ',impares)

print('\n')

par = 0
impar = 0
i = 1

while i < 5:
    numerowhile = int(input('Insira o seu número: '))
    if numerowhile % 2 == 0:
        par += 1
    else:
        impar += 1
    qtd_n += 1
print('Quantidade de número pares: ',par)
print('Quantidade de número pares: ',impar)

Insira o número: 8
Insira o número: 7
Insira o número: 6
Insira o número: 5
Insira o número: 4
Quantidade de número pares:  3
Quantidade de número imapares:  2


Insira o seu número: 2
Insira o seu número: 4
Insira o seu número: 65
Insira o seu número: 1
Quantidade de número pares:  2
Quantidade de número pares:  2

###8. Faça um algoritmo que calcule e exiba o salário reajustado de dez funcionários de acordo com a seguinte regra (pode implementar com o comando while ou for): 
## Salário até 300, reajuste de 50%; 

##Salários maiores que 300, reajuste de 30%.

In [ ]:
for i in range (0,4):
    salario = float(input('Insira o seu salário: '))
    if salario <= 300:
        reajuste = salario * 50 / 100
        salarionovo = salario + reajuste
        print('Seu salario é: ',salarionovo)
    elif salario > 300:
        reajuste = salario * 30 / 100
        salarionovo = salario + reajuste
        print('Seu salario é: ',salarionovo)

cont_salarios = 0

while cont_salarios < 4:
    salario = float

Insira o seu salário: 5000
Seu salario é:  6500.0
Insira o seu salário: 200
Seu salario é:  300.0
Insira o seu salário: 500
Seu salario é:  650.0
Insira o seu salário: 1000
Seu salario é:  1300.0


###9. Faça um algoritmo que conheça 4 preços de produtos, some-os e mostre o resultado. Pode implementar com o comando while ou for.

In [ ]:
somapreco = 0
for i in range (0,4):
    preco = float(input('Insira o preço: '))
    somapreco = somapreco + preco
print('A soma dos produtos é: ',somapreco)

print('\n')

cont_preco = 0
i = 0

while i < 4:
    precowhile = float(input('Insira o preço: '))
    cont_preco = cont_preco + precowhile
    cont += 1
print('A soma dos produtos: ',cont_preco)

Insira o preço: 8
Insira o preço: 5
Insira o preço: 4
Insira o preço: 3
A soma dos produtos é:  20.0


Insira o preço: 4
Insira o preço: 5
Insira o preço: 9
Insira o preço: 4
A soma dos produtos:  22.0

###10. Faça um algoritmo que calcule e informe a média de idades de 5 alunos. Pode implementar com o comando while ou for.

In [ ]:
somaidade = 0
for i in range (0,5):
    idade = float(input('Insira o a sua nota: '))
    somaidade = somaidade + idade
mediaI = somaidade / 5
print('A media doas idades: ',mediaI)

print('\n')

cont_idade = 0
i = 1

while i <= 5:
    idade = float(input('Insira a sua idade: '))
    cont_idade = cont_idade + idade
    i += 1
media = cont_idade / 5
print('A media de idades: ',media)

Insira o a sua nota: 5
Insira o a sua nota: 4
Insira o a sua nota: 6
Insira o a sua nota: 2
Insira o a sua nota: 1
A media doas idades:  3.6


Insira a sua idade: 7
Insira a sua idade: 8
Insira a sua idade: 6
Insira a sua idade: 3
Insira a sua idade: 5
A media de idades:  5.8

###11. Faça um algoritmo que conheça 4 preços de produtos, calcule e mostre a média aritmética dos preços. Pode implementar com o comando while ou for.

In [ ]:

somaprod = 0
for i in range (0,4):
    preco = float(input('Insira o preço do seu produto: '))
    somaprod += preco
media = somaprod / 4
print('A media dos preços: ',media)

print('\n')

i = 0
cont_prod = 0

while i < 4:
    preco = float(input('Insira o preço do seu produto: ')) 
    cont_prod += preco
    i += 1
media = cont_prod / 4
print('A media dos preços: ',media)

Insira o preço do seu produto: 50
Insira o preço do seu produto: 40
Insira o preço do seu produto: 70
Insira o preço do seu produto: 60
A media dos preços:  55.0


Insira o preço do seu produto: 80
Insira o preço do seu produto: 40
Insira o preço do seu produto: 50
Insira o preço do seu produto: 50
A media dos preços:  55.0

###12. Faça um programa que receba a idade e a altura de 20 pessoas. Calcule e exiba a média das alturas das pessoas com mais de 20 anos.

In [ ]:
soma_alturas = 0
num_pessoas_maior_20 = 0


for i in range(5):
    # input interessante para utilizar
    idade = int(input("Digite a idade da pessoa {}: ".format(i+1)))
    altura = float(input("Digite a altura da pessoa {}: ".format(i+1)))

    
    if idade > 20:
        soma_alturas += altura
        num_pessoas_maior_20 += 1


if num_pessoas_maior_20 > 0:
    media = soma_alturas / num_pessoas_maior_20
    print("A média das alturas das pessoas com mais de 20 anos é: {:.2f}".format(media))
else:
    print("Não há pessoas com mais de 20 anos.")

Digite a idade da pessoa 1: 80
Digite a altura da pessoa 1: 50
Digite a idade da pessoa 2: 40
Digite a altura da pessoa 2: 90
Digite a idade da pessoa 3: 50
Digite a altura da pessoa 3: 40
Digite a idade da pessoa 4: 80
Digite a altura da pessoa 4: 60
Digite a idade da pessoa 5: 40
Digite a altura da pessoa 5: 50
A média das alturas das pessoas com mais de 20 anos é: 58.00

In [ ]:
cont_pessoas = 0
cont_altura = 0

for i in range (0,5):
    idade = int(input('Insira a sua idade: '))
    altura = float(input('Insira a sua altura: '))
    
    if idade > 20:
        cont_altura += altura
        cont_pessoas += 1
if cont_pessoas > 0:
    media_altura = cont_altura / cont_pessoas
    print('A media das pessoas com mais de 20 anos é: ',media_altura) 
else:
    print('Não há pessoas com mais de 20 anos')

Insira a sua idade: 80
Insira a sua altura: 40
Insira a sua idade: 60
Insira a sua altura: 50
Insira a sua idade: 40
Insira a sua altura: 30
Insira a sua idade: 50
Insira a sua altura: 80
Insira a sua idade: 40
Insira a sua altura: 60
A media das pessoas com mais de 20 anos é:  52.0

In [ ]:
cont_pessoas = 0
cont_altura = 0
i = 0

while i < 4:
    idade = int(input('Insira a sua idade: '))
    altura = float(input('Insira a sua altura: '))
    i += 1

    if idade > 20:
        cont_altura += altura
        cont_pessoas += 1
if cont_pessoas > 0:
    media = cont_altura / cont_pessoas
    print('A media das pesssoas com mais de 20 anos é: ',media)
else:
    print('Não há pessoas com mais de 20 anos')

Insira a sua idade: 70
Insira a sua altura: 50
Insira a sua idade: 60
Insira a sua altura: 80
Insira a sua idade: 40
Insira a sua altura: 50
Insira a sua idade: 40
Insira a sua altura: 60
A media das pesssoas com mais de 20 anos é:  60.0

###13. Faça um algoritmo que leia o preço de 20 TV, determine e apresente a média dos preços que possuem valor maior que R$ 1000. Pode implementar com o comando while ou for.

In [ ]:
cont_preco = 0 
cont_tv = 0

for i in range (0,3):
    preco = float(input('Insira o preço das televisões: '))

    if preco > 1000:
        cont_preco += preco
        cont_tv += 1
if cont_tv > 0:
    media = cont_preco / cont_tv
    print('A media das televisões acima de R$1000,00 são: ',media)
else:
    print('Não há televisões acima de R$1000,00.')

Insira o preço das televisões: 4000
Insira o preço das televisões: 3000
Insira o preço das televisões: 2000
A media das televisões acima de R$1000,00 são:  3000.0

In [ ]:
cont_preco = 0
cont_tv = 0
i = 0
while i < 3:
    preco = float(input("Insira o preço das televisões: "))
    i += 1

    if preco > 1000:
        cont_preco += preco
        cont_tv += 1
if cont_tv > 0:
    media = cont_preco / cont_tv
    print('A media das televisões acima de R$1000,00 são: ',media)
else:
    print('Não há televisões acima de R$1000,00.')

Insira o preço das televisões: 50
Insira o preço das televisões: 400
Insira o preço das televisões: 10000
A media das televisões acima de R$1000,00 são:  10000.0

###14. Faça um programa que receba a altura e nome  de 5 pessoas. Encontre e apresente a altura da pessoa mais alta e da mais baixa e seus respectivos nomes.

In [ ]:
alturaMax = 0
nomeAlturaMax = ""
alturaMin = float("inf")
nomeAlturaMin = ""

for i in range(0,2):
    nome = input('Insira o nome: ')
    altura = float(input('Insira a sua altura: '))

    if altura > alturaMax:
        alturaMax = altura
        nomeAlturaMax = nome
    elif altura < alturaMin:
        alturaMin = altura
        nomeAlturaMin = nome
print('A maior altura é: ',nomeAlturaMax)
print('A menor altura é: ',nomeAlturaMin)

Insira o nome: yago
Insira a sua altura: 700
Insira o nome: laura
Insira a sua altura: 100
A maior altura é:  yago
A menor altura é:  laura

In [ ]:
alturaMax = 0
nomeAlturaMax = ""
alturaMin = 3
nomeAlturaMin = ""
i = 0

while i < 2:
    nome = input('Insira o seu nome: ')
    altura = float(input('Insira a sua altura: '))
    i += 1

    if altura > alturaMax:
        alturaMax = altura
        nomeAlturaMax = nome
    if altura < alturaMin:
        alturaMin = altura
        nomeAlturaMin = nome
print('A maior altura pertence à: ',nomeAlturaMax)
print('A menor altura pertence à: ',nomeAlturaMin)

Insira o seu nome: ff
Insira a sua altura: 1.80
Insira o seu nome: cc
Insira a sua altura: 1.50
A maior altura pertence à:  ff
A menor altura pertence à:  cc

In [ ]:
qpessoas = 0
while qpessoas < 5:
    altura = float(input('Informe a altura: '))
    nome = input('Informe o nome: ')
    if qpessoas == 0:
        alto = altura
        nome_alto = nome
        baixo = altura
        nome_baixo = nome
    if altura > alto:
        alto = altura
        nome_alto = nome
    if altura < baixo:
        baixo = altura
        nome_baixo = nome
    qpessoas = qpessoas + 1
print('Alto= ', alto, 'metros, nome= ',nome_alto)
print('Baixo= ', baixo, 'metros, nome= ', nome_baixo)

###15. Faça um programa que receba dez valores inteiros, encontre e apresente o maior e o menor valor.

In [ ]:
qnumeros = 0
while qnumeros < 4:
    valor = int(input('Insira o seu valor: '))
    if qnumeros == 0:
        maior = valor
        menor = valor
    if valor > maior:
        maior = valor
    if valor < menor:
        menor = valor
    qnumeros = qnumeros + 1
print('Maior: ',maior)
print('Menor: ',menor)

Insira o seu valor: 7
Insira o seu valor: 5
Insira o seu valor: 5
Insira o seu valor: 6
Maior:  7
Menor:  5

###16. Os alunos do primeiro módulo farão a P1 da disciplina de Algoritmo. Crie um algoritmo que leia as 40 notas e RAs, encontre e apresente a maior, a menor e os respectivos RAs desses alunos.

In [ ]:
qnotas = 0
while qnotas < 4:
    nota = float(input('Insira a sua nota: '))
    ra = int(input('Insira o seu RA: '))
    if qnotas == 0:
        maior = nota
        raMaior = ra
        menor = nota
        raMenor = ra
    if nota > maior:
        maior = nota
        raMaior = ra
    if nota < menor:
        menor = nota
        raMenor = ra
    qnotas += 1
print('Maior nota: ',maior,'RA: ',raMaior)
print('Menor nota: ',menor,'RA: ',raMenor)

Insira a sua nota: 7
Insira o seu RA: 654654
Insira a sua nota: 2
Insira o seu RA: 564654
Insira a sua nota: 9
Insira o seu RA: 32131
Insira a sua nota: 8
Insira o seu RA: 456456
Maior nota:  9.0 RA:  32131
Menor nota:  2.0 RA:  564654

###17. Faça um programa que calcule e apresente as tabuadas do 3 ao 7. Este exercício utiliza DUAS estruturas de repetição.

In [ ]:
tabuada = 3
while tabuada <= 7:
    contador = 1
    while contador <= 10:
        print(tabuada,'x',contador,'=',tabuada * contador)
        contador += 1
    print()
    tabuada += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
for tabuada in range(3,8):
    for contador in range(1,11):
        print(tabuada,'x',contador,'=',tabuada * contador)
    print() #pula uma linha

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

###18. Faça um programa para o curso de ADS (6 módulos), cada sala tem 30 alunos, calcule e apresente os seguintes itens:
*  Quantidade de homens e mulheres de cada módulo;
*  Média de idades de cada módulo;
*  Quantidade de homens e mulheres do curso todo;
*  Média de idades do curso todo.

Observação: este exercício utiliza DUAS estruturas de repetição.

In [ ]:
contPessoas = 0
contHomensTotal = 0
contMulheresTotal = 0
totalidade = 0
for modulo in range(1,7):
    print(modulo,'° módulo','.' * 50)
    contFem = 0
    contMas = 0
    somaidades = 0
    contPessoas = 0
    for alunos in range(1,6):
        genero = input('Insira o seu genero: ')
        idade = int(input('Insira a sua idade: '))
        contPessoas += 1
        if genero == 'F' or genero == 'f':    
            contFem += 1
        if genero == 'M' or genero == 'm':
            contMas += 1
        somaidades += idade
    mediaidade = somaidades / contPessoas
    print('Quantidade de mulheres: ',contFem)
    print('Quantidade de homem: ',contMas)
    print('Media de idades: ',mediaidade)
    contHomensTotal += contMas
    contMulheresTotal += contFem
    totalidade += mediaidade
mediaidadestotal = totalidade / (contHomensTotal + contMulheresTotal)
print('Quantidade total de Homens: ',contHomensTotal)
print('Quantidade total de mulheres: ',contMulheresTotal)
print('Media de idades total: ',mediaidadestotal)

1 ° módulo ..................................................
Insira o seu genero: f
Insira a sua idade: 20
Insira o seu genero: m
Insira a sua idade: 33
Insira o seu genero: m
Insira a sua idade: 23
Insira o seu genero: m
Insira a sua idade: 18
Insira o seu genero: f
Insira a sua idade: 19
Quantidade de mulheres:  2
Quantidade de homem:  3
Media de idades:  22.6
2 ° módulo ..................................................
Insira o seu genero: f
Insira a sua idade: 21
Insira o seu genero: m
Insira a sua idade: 22
Insira o seu genero: m
Insira a sua idade: 34
Insira o seu genero: f
Insira a sua idade: 17
Insira o seu genero: m
Insira a sua idade: 18
Quantidade de mulheres:  2
Quantidade de homem:  3
Media de idades:  22.4
3 ° módulo ..................................................
Insira o seu genero: m
Insira a sua idade: 17
Insira o seu genero: f
Insira a sua idade: 19
Insira o seu genero: m
Insira a sua idade: 20
Insira o seu genero: f
Insira a sua idade: 23
Insira o seu genero: f
Insira a sua idade: 19
Quantidade de mulheres:  3
Quantidade de homem:  2
Media de idades:  19.6
4 ° módulo ..................................................
Insira o seu genero: m
Insira a sua idade: 23
Insira o seu genero: f
Insira a sua idade: 22
Insira o seu genero: m
Insira a sua idade: 38
Insira o seu genero: f
Insira a sua idade: 25
Insira o seu genero: m
Insira a sua idade: 28
Quantidade de mulheres:  2
Quantidade de homem:  3
Media de idades:  27.2
5 ° módulo ..................................................
Insira o seu genero: f
Insira a sua idade: 30
Insira o seu genero: m
Insira a sua idade: 32
Insira o seu genero: m
Insira a sua idade: 30
Insira o seu genero: m
Insira a sua idade: 24
Insira o seu genero: f
Insira a sua idade: 30
Quantidade de mulheres:  2
Quantidade de homem:  3
Media de idades:  29.2
6 ° módulo ..................................................
Insira o seu genero: f
Insira a sua idade: 23
Insira o seu genero: m
Insira a sua idade: 26
Insira o seu genero: m
Insira a sua idade: 25
Insira o seu genero: m
Insira a sua idade: 27
Insira o seu genero: f
Insira a sua idade: 34
Quantidade de mulheres:  2
Quantidade de homem:  3
Media de idades:  27.0
Quantidade total de Homens:  17
Quantidade total de mulheres:  13
Media de idades total:  4.933333333333334